# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [6]:
dictionary  = {'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45,39,44,45],
        'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}
labels = [0,1,2,3]

### Step 3. Assign it to a variable called pokemon

In [9]:
pokemon = pd.DataFrame(dictionary , index=labels)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [11]:
pokemon['place'] = ['lake', 'river', 'forest', 'mountain']
pokemon

    evolution  hp        name pokedex   type     place
0     Ivysaur  45   Bulbasaur     yes  grass      lake
1  Charmeleon  39  Charmander      no   fire     river
2   Wartortle  44    Squirtle     yes  water    forest
3     Metapod  45    Caterpie      no    bug  mountain

### Step 6. Present the type of each column

In [12]:
pokemon.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.

In [14]:
#Lấy ra tên các cột của dataframe
pokemon.columns

Index(['evolution', 'hp', 'name', 'pokedex', 'type', 'place'], dtype='object')